
         *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
           left: 50%;
           right: 50%;
           transform: translate(50%,50%);
        }
        .container {
            width: 1200px;
            margin: 0 auto;
        }
        table, td {
            border: 1px solid rgb(138, 206, 222);

        }
        table {
            border-collapse: collapse; /*gộp cột thành 1*/
            width: 50%;
        }   
        .color {
            background-color: rgb(63, 131, 233);
        } 
        td {
            text-align: center;
            height: 36px;
        }
        tr:nth-child(even) {
            background-color: rgb(234, 225, 225);
        }
        tr:hover {
            background-color: rgb(174, 233, 245);
            color: azure;
           
        }
           

        
    